{% extends 'base.html.twig' %}

{% block title %}Hello NewslettersController!{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Choisissez vos newsletters</h1>
    {{form(form)}}
{% endblock %}
